li, a, p, h1, h2, h3, h4, label, th, td, span {
	font-family: 'Raleway', sans-serif;
}

body{
	margin: 0;
	padding: 0;
	min-width: 320;
	min-height: 480;
}

#userinfo{
float: right;
}

#icons{
	font-size: 40px;
	line-height: 50px;
	width: 50px;
    height: 50px;
}
#headerdesktop{
	background-color: #FD6E42;
	color: black;
}

#menubutton{
	display:inline-block;
	min-height: 50px;
	min-width: 50px;
	text-align: center;
}

#menubutton:hover{
	background-color: #FD450D;
	transition: 150ms linear;
}
#nav{
	display: inline-block;
	font-size: 1.17em;
	min-height: 50px;
	height: 50px;
	line-height: 0.5em;

}

#navlist li{
	display: inline;
		padding-right: 25px;
}

#username{
	float: left;
	line-height: 0.5em;
	padding: 0px 10px 0px 10px;
	display:inline-block;
	margin: 0;
	max-height: 50px;
	min-height: 50px;
}

#drop-userinfo{
	float: right;
	background-color: rgba(165, 14, 45, 1);
	padding: 0px 20px;
}

#headermobile{
	width: 100%;
	background-color: rgba(165, 14, 45, 1);
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 30px;
}
#headermobile span{
	line-height: 50px;
		padding: 0px 10px;	
}

#audiocontainer{
	background-color: #FD6E42;
	width: 100%;
	min-height: 50px;
	position: fixed;
	bottom: 0;
	text-align: center;

}

#media-buttons{
	font-size: 2em;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	text-align: center;
	color: white;
}

#media-buttons span{
	font-size: 30px;

}

#songname{
	display: inline-block;
	padding: 0;
	margin: 0;

}

#progresstext{

	margin-right: 10px;
	display: inline-block;
}
#volumeslider{
   -webkit-appearance: slider-vertical;
   writing-mode: bt-lr;
   width: 8px;
   height: 170px;
}

#slidercontainer{
	display: none;
	position: absolute;
	width: 50px;
	background-color: #FD6E42;
	height: 230px;
}
#slidercontainer #media-buttons{
	margin-top: -12px;
}
#imagecover{
	display: inline-block;
	float:left;
}	
#userform{
	display: inline-block;
	position:relative;
	text-align: center;
}
#drop-userinfo{
	display: none;
}

#profiili{
	text-align: center;
	display:none;
}

#userform table th{
	text-align: right;
}
#userform table td{
	text-align: center;
}

.bottomform{
	margin-bottom: 150px;
}

#infopanel{
	display: none;
	text-align: center;
}
#aanitegalleria{
	display: none;
}

button.accordion {
    background-color: #FD6E42;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #FD450D;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
	color: black;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}

#aanitetable{
	cursor: pointer;
}

#profile_div{
	position: absolute;
	right: 0;
	z-index: 1000;
	text-align: center;
	background-color: #FD6E42;
	display: none;
}

#profile_div ul {
	list-style: none;
	padding: 0px 20px;
	cursor: pointer;
}
#profile_div ul a {
	text-decoration: none;
	color: black;
}	

#progressbar {
	-webkit-appearance: none;
	margin: 10px 0;
	max-width: 500px;
	width: 500px;
	margin-top: 25px;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 1px #FFFFFF;
	background: #FFF;
	border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
	border: 1px solid #000000;
	height: 15px;
	width: 15px;
	border-radius: 15px;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #FD6E42;
}
#progressbar::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 1px #FFFFFF;
	background: #FFF;
	border-radius: 5px;
}
#volumeslider::-moz-range-track {
	width: 5px;
	height: 100%;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 1px #FFFFFF;
	background: #FFF;
	border-radius: 5px;
}
input[type="range"]::-moz-range-thumb {
	border: 1px solid #000000;
	height: 15px;
	width: 15px;
	border-radius: 15px;
	background: #FFFFFF;
	cursor: pointer;
}
#progressbar::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
#volumeslider::-ms-track {
	width: 5px;
	height: 100%;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type="range"]::-ms-fill-lower {
	background: #FFF;
	border-radius: 10px;
	box-shadow: 0px 0px 1px #FFFFFF;
}
input[type="range"]::-ms-fill-upper {
	background: #FFF;
	border-radius: 10px;
	box-shadow: 0px 0px 1px #FFFFFF;
}
input[type="range"]::-ms-thumb {
	border: 1px solid #000000;
	height: 15px;
	width: 15px;
	border-radius: 15px;
	background: #FFFFFF;
	cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
	background: #FFF;
}
input[type="range"]:focus::-ms-fill-upper {
	background: #FFF;
}
@media screen and (min-width: 1150px){
    .responsivebreak { display: none; }
	#progresstext{float: right;	line-height: 75px;}
	#media-buttons{float: left;}
	#media-buttons span{line-height: 75px;}
	#songname{float: left; 	line-height: 75px;}
	#slidercontainer{   left: 225px;    bottom: 75px;} 
}
	
@media screen and (min-width: 550px){
	#headermobile{display: none;}	
}
	
@media screen and (max-width: 1149px){
	#imagecover{display:none;}
	#progresstext{line-height: 30px;}
	#slidercontainer{left: 60%; bottom: 125px;}
}
@media screen and (max-width: 549px){
	#imagecover{display:none;}
	#headerdesktop{display: none;}
	#drop-userinfo{display: none;}
}