body{
	margin: 0;
	padding: 0;
}

#userinfo{
float: right;
}

#icons{
	font-size: 40px;
	line-height: 50px;
	width: 50px;
    height: 50px;
}
#header{
	background-color: #A50E2D;
	color: #dbdc2b;
}

#menubutton{
	display:inline-block;
	min-height: 50px;
	min-width: 50px;
	text-align: center;
}

#menubutton:hover{
	background-color: black;
	transition: 150ms linear;
}
#nav{
	display: inline-block;
	font-size: 1.17em;
	min-height: 50px;
	height: 50px;
	line-height: 0.5em;
	background-color: #A50E2D;
}

ul li{
	display: inline;
		padding-right: 25px;
}

#username{
	float: left;
	line-height: 0.5em;
	padding: 0px 10px 0px 10px;
	display:inline-block;
	margin: 0;
	max-height: 50px;
	min-height: 50px;
}

#audiocontainer{
	background-color: rgba(165, 14, 45, 1);
	width: 100%;
	min-height: 50px;
	position: absolute;
	bottom: 0;
	text-align: center;

}

#media-buttons{
	font-size: 2em;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	text-align: center;
	color: white;
}

#media-buttons span{
	font-size: 30px;
	line-height: 50px;
}

#songname{
	display: inline-block;
	padding: 0;
	margin: 0;
}

.progressbar{
	height: 20px;
	margin-top: 15px;
	background-color: yellow;
	
}


.currentprogress{
}
#progresstext{
	line-height: 3em;
	margin-right: 10px;
	display: inline-block;
}
#volume{
	display: inline-block;
}

input[type="range"]{
	position: absolute;
	top: 120px;
	left: -65px;
   transform: rotate(270deg);
}

#slidercontainer{
	display: none;
	   position: absolute;
   left: 216px;
   bottom: 50px;
   width: 50px;
   background-color: #A50E2D;
   height: 230px;
}

#imagecover{
	display: inline-block;
	position: absolute;
	bottom: 50px;
	border-width: 1px 1px 0px 0px;
	border-color: #A50E2D;
	border-style: solid;
	left: 0;
	}
  @media screen and (min-width: 1150px){
            .responsivebreak { display: none; }
			.progressbar{margin-right: 20px; 	float: right;}
			#progresstext{float: right;}
        }
		
	@media screen and (min-width: 550px){
				.progressbar{width: 500px;}
		
	}
	@media screen and (max-width: 1150px){
		.progressbar{
			margin-left: auto;
			margin-right: auto;
		}
	}
	@media screen and (max-width: 550px){
		.progressbar{width: 90%;}
	}