body{
	margin: 0;
	padding: 0;
}

#userinfo{
float: right;
}

#icons{
	font-size: 40px;
	line-height: 50px;
	width: 50px;
    height: 50px;
}
#headerdesktop{
	background-color: #A50E2D;
	color: #dbdc2b;
}

#menubutton{
	display:inline-block;
	min-height: 50px;
	min-width: 50px;
	text-align: center;
}

#menubutton:hover{
	background-color: black;
	transition: 150ms linear;
}
#nav{
	display: inline-block;
	font-size: 1.17em;
	min-height: 50px;
	height: 50px;
	line-height: 0.5em;
	background-color: #A50E2D;
}

#navlist li{
	display: inline;
		padding-right: 25px;
}

#username{
	float: left;
	line-height: 0.5em;
	padding: 0px 10px 0px 10px;
	display:inline-block;
	margin: 0;
	max-height: 50px;
	min-height: 50px;
}

#drop-userinfo{
	float: right;
	background-color: rgba(165, 14, 45, 1);
	padding: 0px 20px;
}

#headermobile{
	width: 100%;
	background-color: rgba(165, 14, 45, 1);
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 30px;
}
#headermobile span{
	line-height: 50px;
		padding: 0px 10px;	
}

#audiocontainer{
	background-color: rgba(165, 14, 45, 1);
	width: 100%;
	min-height: 50px;
	position: absolute;
	bottom: 0;
	text-align: center;

}

#media-buttons{
	font-size: 2em;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	text-align: center;
	color: white;
}

#media-buttons span{
	font-size: 30px;

}

#songname{
	display: inline-block;
	padding: 0;
	margin: 0;

}

.progressbar{
	height: 20px;

	background-color: yellow;
	
}
#progresstext{

	margin-right: 10px;
	display: inline-block;
}

input[type="range"]{
	position: absolute;
	top: 120px;
	left: -65px;
   transform: rotate(270deg);
}

#slidercontainer{
	display: none;
	   position: absolute;


   width: 50px;
   background-color: #A50E2D;
   height: 230px;
}
#slidercontainer #media-buttons{
	margin-top: -12px;
}
#imagecover{
	display: inline-block;
	float:left;
	}
	
#userform{
	display: inline-block;
	background-color:yellow;
	height: 200px;
	position:relative;
	
}
  @media screen and (min-width: 1150px){
            .responsivebreak { display: none; }
			.progressbar{margin-right: 20px; 	float: right; 	margin-top: 28px;}
			#progresstext{float: right; 	line-height: 75px;}
			#media-buttons{float: left;}
			#media-buttons span{	line-height: 75px;}
			#songname{float: left; 	line-height: 75px;}
			#slidercontainer{   left: 225px;    bottom: 75px;}

        }
		
	@media screen and (min-width: 550px){
				.progressbar{width: 500px;}
							#headermobile{display: none;}
		
	}
	@media screen and (max-width: 1149px){

		.progressbar{
			margin-left: auto;
			margin-right: auto;
			margin-top: 5px;
		}
		#imagecover{
			display:none;
		}
		#progresstext{
			line-height: 30px;
		}
		#slidercontainer{left: 60%; bottom: 125px;}
	}
	@media screen and (max-width: 549px){
		.progressbar{width: 90%;}
		#imagecover{display:none;}
				#headerdesktop{
			display: none;
			
		}
		drop-userinfo{display: none;}
	}